* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* App.css */
.app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f5f7fa;
  font-family: 'Inter', sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}